html, body {
  margin: 0;
  background-color: #77cc6d;
  font-family: 'Raleway Dots', sans-serif;
}

section #services {
  text-align: center;
  transform: translatez(0);
}
section #services h2 {
  margin: 80px 0px 20px;
  color: #fff;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
}
section #services h3 {
  margin: 0px 0px 40px;
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  font-weight:bold;
}
section #services h4 {
  margin: 0px 0px 10px;
  color: #fff;
  font-size: 1.0em;
  text-align: center;
}

section #services h5 {
  margin: 10px 200px 10px;
  color: #fff;
  font-size: 2.1em;
  text-align: left;
  font-weight:bold;
}

section #services h6 {
  margin: 0px 0px 5px;
  color: #fff;
  font-size: 1.0em;
  text-align: left;
}

section #services h7 {
  margin: 0px 0px 5px;
  color: #fff;
  font-size: 1.6em;
  text-align: left;
  font-weight:bold;
}

section #services li {
  width: 120px;
  height: 140px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #services li div {
  width: 120px;
  height: 120px;
  color: #74d4b3;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: #fff;
  transition: all 0.5s ease;
}
section #services li a {
  color: #77cc6d;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #services li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 10px 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}
.credits a {
  display: block;
  text-align: center;
  color: #74d4b3;
  text-decoration: none;
  font-size: 24px;
  margin-top: 50px;
  background: white;
  padding: 20px;
  max-width: 300px;
}

.button {
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 28px 10px;
    font-size: 2px;
    cursor: pointer;
}